@import '../../App.css';

.credit {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "NotoSerifKR";
}

.credit_title {
    color: white;
    font-size: 250%;
    text-align: center;
    position: relative;
}

.credit_subtitle {
    position: absolute; right: 780px; 
    color: gray;
    font-size: 150%;
    text-align: right;
}

.credit_body {
    position: absolute; left: 780px; 
    color: white;
    font-size: 150%;
    text-align: left;
}